[submodule "library/borealis"]
	path = library/borealis
	url = https://github.com/RaringM/borealis
	branch = main
[submodule "library/lunasvg"]
	path = library/lunasvg
	url = https://github.com/dragonflylee/lunasvg
