build*/
/.idea/
/cmake-*/
/.xmake/
/.vscode/
.gdbinit
*.exe
*.dmp
/resources/forwarder.nsp
/resources/shaders/*.dksh
/scripts/*/*/*.tar.*
/scripts/aur/*.tar.*
/scripts/*/*/src
/switchfin
.DS_Store
debian/debhelper-build-stamp
debian/files
debian/switchfin*
debian/.debhelper
.wget-hsts