[submodule "library/borealis"]
	path = library/borealis
	url = https://github.com/dragonflylee/borealis
	branch = wiliwili
[submodule "library/lunasvg"]
	path = library/lunasvg
	url = https://github.com/sammycage/lunasvg
