<brls:Box
    width="auto"
    height="auto">

    <brls:ScrollingFrame
        width="auto"
        height="auto"
        marginTop="10"
        grow="1.0">

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            alignItems="stretch"
            paddingLeft="@style/brls/tab_frame/content_padding_sides"
            paddingRight="@style/brls/tab_frame/content_padding_sides"
            paddingTop="@style/brls/tab_frame/content_padding_top_bottom"
            paddingBottom="@style/brls/tab_frame/content_padding_top_bottom">

            <brls:Box
                width="100%"
                height="auto"
                axis="column"
                marginBottom="30px">
                <brls:DetailCell
                    title="@i18n/main/setting/user"
                    focusable="false"
                    id="setting/user" />
                <brls:DetailCell
                    title="@i18n/main/setting/server/header"
                    id="setting/server" />
            </brls:Box>

            <brls:Header
                width="auto"
                height="auto"
                title="@i18n/main/setting/playback/header"
                marginBottom="0px" />
            <brls:Box
                width="100%"
                height="auto"
                axis="column"
                marginBottom="30px">
                <brls:BooleanCell
                    id="setting/video/hwdec" />
                <brls:SelectorCell
                    id="setting/video/codec" />
                <brls:BooleanCell
                    id="setting/video/directplay" />
                <brls:SelectorCell
                    id="setting/video/bitrate" />
                <brls:SelectorCell
                    id="setting/player/seeking" />
                <brls:BooleanCell
                    id="setting/player/bottom_bar" />
                <brls:BooleanCell
                    id="setting/player/osd_on_toggle" />
            </brls:Box>

            <brls:Header
                width="auto"
                height="auto"
                title="@i18n/main/setting/network/header"
                marginBottom="0px" />
            <brls:Box
                width="100%"
                height="auto"
                axis="column"
                marginBottom="30px">
                <brls:InputNumericCell
                    id="setting/network/threads" />
                <brls:SelectorCell
                    id="setting/network/timeout" />
            </brls:Box>

            <brls:Header
                width="auto"
                height="auto"
                title="@i18n/main/setting/tutorial/header"
                marginBottom="0px" />
            <brls:Box
                width="100%"
                height="auto"
                axis="column"
                marginBottom="30px">
                <brls:RadioCell
                    id="tools/tutorial_open"
                    title="@i18n/main/setting/tutorial/open" />
                <brls:RadioCell
                    id="tools/tutorial_error"
                    title="@i18n/main/setting/tutorial/error" />
                <brls:RadioCell
                    id="tools/tutorial_font"
                    title="@i18n/main/setting/tutorial/font" />
            </brls:Box>

            <brls:Header
                width="auto"
                height="auto"
                title="@i18n/main/setting/others/header"
                marginBottom="0px" />
            <brls:Box
                width="100%"
                height="auto"
                axis="column"
                marginBottom="30px">
                <brls:BooleanCell
                    id="setting/fullscreen" />
                <brls:BooleanCell
                    id="setting/overclock" />
                <brls:SelectorCell
                    id="setting/keymap" />
                <brls:SelectorCell
                    id="setting/ui/theme" />
                <brls:SelectorCell
                    id="setting/language" />
                <brls:RadioCell
                    id="setting/release_checker" />
                <brls:DetailCell
                    title="@i18n/main/about/header"
                    id="setting/about" />
            </brls:Box>

        </brls:Box>

    </brls:ScrollingFrame>

</brls:Box>