name: switch-portlibs

on:
  push:
    tags: [ switch-portlibs ]

permissions:
  contents: write

jobs:
  build-portlibs:
    runs-on: ubuntu-latest
    container:
      image: devkitpro/devkita64
    steps:
    - uses: actions/checkout@v3
      with:
        sparse-checkout: scripts/switch
    - name: Install depends
      run: |
        apt-get update
        apt-get install -y fakeroot zstd ninja-build libtool python3-distutils manpages-
        curl -sL https://bootstrap.pypa.io/get-pip.py | python3 -
        pip3 install meson

        for i in scripts/switch/dkp-*.zst; do dkp-pacman --noconfirm -U $i; done
    - name: Build portlibs
      run: |
        adduser --gecos '' --disabled-password builder
        echo 'builder ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/builder
        chown -R builder:builder $GITHUB_WORKSPACE/scripts/switch
        su - builder -c "make -C $GITHUB_WORKSPACE/scripts/switch"
    - name: Upload portlibs
      uses: softprops/action-gh-release@v1
      with:
        name: switch-portlibs
        tag_name: switch-portlibs
        prerelease: true
        files: scripts/switch/*/*.pkg.tar.zst
        body: |
          ![download](https://img.shields.io/github/downloads/${{ github.repository }}/switch-portlibs/total?label=Downloads)